kohorta.csv
__pycache__/
*.pyc

kohorta_ALL.csv
kohorta_*.csv
data/_split/

rocznik_historia.csv
kohorta_ALL.xlsx
kohorta_agg.csv.gz
kohorta_trend.csv.gz

rocznik_historia.csv
kohorta_ALL.xlsx
kohorta_agg.csv.gz
kohorta_trend.csv.gz
